---
title: skills
order: "03"
---

<div class="qualif col-xl-10 offset-xl-1 col-lg-12 offset-lg-0">
    <h1>Skills</h1>
    <div class="accordeon">
    {% for skill in site.data.skills %}
        <div class="accordeon-item">
            <h1 class="accordeon-title">{{ skill.category }}</h1>
            <div class="accordeon-content">
                <ul class="list-inline">
                {% for s in skill.list %}
                    <li class="list-inline-item">{{ s }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
</div>