---
title: projects
order: "04"
description: >-
  A selection of projects I have worked on,
  for school and/or for my own.
---

<div class="tabs-container">
    <div class="tabs">
        {% assign tab = 0 %}
        {% for p in site.data.projects %}
            {% assign tab = tab | plus: 1 %}
            <a href="#proj{{ tab }}" class="tab">{{ p.title }}</a>
        {% endfor %}
    </div>
    <div class="tabs-content">
        {% assign tab = 0 %}
        {% for p in site.data.projects %}
            {% assign tab = tab | plus: 1 %}
            <div class="content" id="proj{{ tab }}">
                <h1 class="tab-title">{% if p.long_title %}{{ p.long_title }}{% else %}{{ p.title }}{% endif %}</h1>
                <ul class="list-inline">
                {% for tag in p.tags %}
                  <li class="list-inline-item text-primary">{{ tag }}</li>
                {% endfor %}
                </ul>
                <h2 class="tab-subtitle">{{ p.date }}</h2>
                <p class="tab-content">{{ p.description | markdownify }}</p>
            </div>
        {% endfor %}
    </div>
</div>