---
title: skills
order: "04"
---

<h1>Skills</h1>
<ul id="skills" class="list collapsible">
  {% for skill in site.data.skills %}
    <li>
      <span class="hover-primary">{{ skill.category }}</span>
      <ul>
        {% if skill.style == "text" %}
          {% for s in skill.list %}
            <li><span class="text-primary">{{ s.item }}:</span> {{ s.more }}</li>
          {% endfor %}
        {% elsif skill.style == "inline" %}
          {% for s in skill.list %}
            <li><span class="text-primary">{{ s.item }}:</span>
              {% for li in s.sublist %}{{ li }}{% if forloop.last == false %}, {% else %}.{% endif%}{% endfor %}
            </li>
          {% endfor %}
        {% elsif skill.style == "nested" %}
          {% for s in skill.list %}
            <li>
              <span class="hover-primary">{{ s.item }}</span>
              <ul>
                {% for li in s.sublist %}
                  <li>{{ li }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        {% else %}
          {{ skill.list | markdownify }}
        {% endif%}
      </ul>
    </li>
  {% endfor %}
</ul>