---
title: portfolio
order: "05"
---

<div class="col-xl-10 offset-xl-1 col-lg-12 offset-lg-0">
    <h1>Projects</h1>
    <div id="projects" class="tabs-container">
        <div class="tabs">
            {% for p in site.data.projects %}
                <a href="#proj{% increment tabLink %}" class="tab">{{ p.title }}</a>
            {% endfor %}
        </div>
        <div class="tabs-content">
            {% for p in site.data.projects %}
                <div class="content" id="proj{% increment tab %}">
                    <div class="tab-title">
                        <div class="icons">
                            {% if p.github %}<a href="{{ p.github }}" target="_blank" class="fa-btn"><i class="fab fa-github"></i></a>{% endif %}
                            {% if p.link %}<a href="{{ p.link }}" target="_blank" class="fa-btn"><i class="fas fa-info-circle"></i></a>{% endif %}
                            {% if p.pdf %}<a href="{{ p.link }}/{{ p.pdf }}" target="_blank" class="fa-btn"><i class="fas fa-file-pdf"></i></a>{% endif %}
                        </div>
                        <h1>{{ p.long_title }}</h1>
                    </div>
                    <ul class="list-inline">
                    {% for tag in p.tags %}
                    <li class="list-inline-item text-primary">{{ tag }}</li>
                    {% endfor %}
                    </ul>
                    <h2 class="tab-subtitle">{{ p.date }}</h2>
                    <p class="tab-content">{{ p.description | markdownify }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--h1>Publications</h1>
    <div id="publications" class="tabs-container">
        <div class="tabs">
            {% for p in site.data.publications %}
                <a href="#publi{% increment tabLink %}" class="tab">{{ p.title }}</a>
            {% endfor %}
        </div>
        <div class="tabs-content">
            {% for p in site.data.publications %}
                <div class="content" id="publi{% increment tab %}">
                    <div class="tab-title">
                        <div class="icons">
                            {% if p.github %}<a href="{{ p.github }}" target="_blank" class="fa-btn"><i class="fab fa-github"></i></a>{% endif %}
                            {% if p.link %}<a href="{{ p.link }}" target="_blank" class="fa-btn"><i class="fas fa-info-circle"></i></a>{% endif %}
                            {% if p.pdf %}<a href="{{ p.link }}/{{ p.pdf }}" target="_blank" class="fa-btn"><i class="fas fa-file-pdf"></i></a>{% endif %}
                        </div>
                        <h1>{{ p.long_title }}</h1>
                    </div>
                    <ul class="list-inline">
                        {% for author in p.authors %}
                            <li class="list-inline-item text-primary">{{ author }}</li>
                        {% endfor %}
                    </ul>
                    <h2 class="tab-subtitle">{{ p.date }}</h2>
                    <ul class="list-inline">
                        {% for tag in p.tags %}
                            <li class="list-inline-item">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    <p class="tab-content">{{ p.description | markdownify }}</p>
                </div>
            {% endfor %}
        </div>
    </div-->
</div>