---
name: Basic Information
order: 3
bgcolor: "#4BBFC3"
active: true
---


<div class="row align-items-center">
    <div class="col-md-6">
        <h1>Education</h1>
        <ul>
            {% for e in site.data.education %}
            <li>
                <b>{{ e.school }} - {{ e.degree }}</b> (<i>{{ e.begin_date }} - {{ e.end_date }}</i>)
                <p>{{ e.description }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h1>Experience</h1>
        <ul>
            {% for e in site.data.experience %}
            <li>
                <b>{{ e.company }} - {{ e.title }}</b> (<i>{{ e.begin_date }} - {{ e.end_date }}</i>)
                <p>{{ e.description }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>