---
name: Skills
order: 4
bgcolor: "#FFFFFF"
active: true
---

{% assign left = site.data.skills | where:"side","left" %}
{% assign right = site.data.skills | where:"side","right" %}
<script type="text/javascript">
	var segCount = [];
    var segColor = [];
    var i = 0;
</script>
<div class="row align-items-center">
    <div class="col-md-4">
        {% for skill in left %}
            <script type="text/javascript">
                segColor.push("{{ skill.color }}");
                segCount.push(0);
            </script>
            <h2 style="color: {{ skill.color }};">{{ skill.category }}</h2>
            <ul>
                {% for s in skill.list %}
                    <li>{{ s }}</li>
                    <script type="text/javascript">segCount[i] +=1;</script>
                {% endfor %}
            </ul>
            <script type="text/javascript">i++;</script>
        {% endfor %}
    </div>
    <div class="col-md-4" id="skills-pie"></div>
    <div class="col-md-4">
        {% for skill in right %}
            <script type="text/javascript">
                segColor.push("{{ skill.color }}");
                segCount.push(0);
            </script>
            <h2 style="color: {{ skill.color }};">{{ skill.category }}</h2>
            <ul>
                {% for s in skill.list %}
                    <li>{{ s }}</li>
                    <script type="text/javascript">segCount[i] += 1;</script>
                {% endfor %}
            </ul>
            <script type="text/javascript">i++;</script>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    var chart = new PieChart("skills-pie", 500, segCount, segColor);
    chart.draw();
</script>
