# production
/draft/
/**/*.backup.*
assets/fonts/
_sass/bootstrap.full/

# Jekyll metadata
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler folders
.bundle/
vendor/

# Editors
.vscode/
.idea/