---
layout: home
---

<nav>
  <ul id="main-nav">
    {% for section in site.sections %}
      <li data-menuanchor='{{ section.title | replace: " ", "_" }}'>
        <a href='#{{ section.title | replace: " ", "_" }}' >{{ section.title }}</a>
      </li>
    {% endfor %}
    <li class="mobile">{% include links.html %}</li>
  </ul>
</nav>

<main role="main">
  {% for section in site.sections %}
    <section id='{{ section.title | replace: " ", "_" }}' {% if section.class %}class="{{ section.class }}"{% endif %}>
      {{ section.content }}
    </section>
  {% endfor %}
</main>