---
layout: home
---

{% include loader.html %}
<div class="desktop">{% include links.html %}</div>
<h1 id="site-title">{{ site.title }}</h1>
<div id="nav-btn" class="mobile">
    <div id="nav-stack">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<nav>
    <ul id="main-nav">
        {% for section in site.sections %}
        <li data-menuanchor='{{ section.title | replace: " ", "_" }}'>
            <a href='#{{ section.title | replace: " ", "_" }}' >{{ section.title }}</a>
        </li>
        {% endfor %}
        <div class="mobile">{% include links.html %}</div>
    </ul>
</nav>

<div id="main" class="container-fluid">
    {% for section in site.sections %}
    <section id='{{ section.title | replace: " ", "_" }}'>
        <div class="row align-items-center">{{ section.content }}</div>
    </section>
    {% endfor %}
</div>

<footer>
    <a href="https://github.com/rand-asswad/rand-asswad.github.io" target="_blank">
        <div>Designed & built by Rand Asswad</div>
    </a>
</footer>