---
layout: home
---

<body data-spy="scroll" data-target="#main-nav" data-offset="500">
    <div class="container-fluid">
        <nav id="main-nav">
            <ul class="nav home-nav">
                {% for section in site.sections %}
                    <li>
                        <a href="#{{ section.title | replace: " ", "_" }}">
                            <h1 class="section-id">{{ section.order }}</h1>
                            <h2 class="section-title">{{ section.title }}</h2>
                            {% if section.description %}
                                <p class="section-body">{{ section.description }}</p>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        {% for section in site.sections %}
            <section class="section" data-section-name="{{ section.title | replace: " ", "_" }}">
                {{ section.content }}
            </section>
        {% endfor %}
    </div>
</body>