<head>
    <meta charset="UTF-8">
    <link rel='icon' href='/assets/img/favicon.ico' type='image/x-icon'>

    <title>
        {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
        {% else %}{{ site.title | escape }}{% endif %}
    </title>

    <!-- Foundation -->
    <!--link rel="stylesheet" href="/assets/scss/foundation.css"-->
    <!--link rel="stylesheet" href="/assets/js/foundation.js"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.js">

    <!-- Syntax highlighting using highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    
    <!-- Full-page scrolling using highlight.js -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css" />
</head>
