<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description | strip_newlines }}">
  <title>
    {% if page.title %}{{ site.title | escape }} | {{ page.title | escape }}
    {% else %}{{ site.title | escape }}{% endif %}
  </title>

  <!-- Define Theme Colors-->
  <style>
    :root {
      --darker: {{ site.theme.darker }};
      --dark:   {{ site.theme.dark   }};
      --grey:   {{ site.theme.grey   }};
      --light:  {{ site.theme.light  }};
      --bright: {{ site.theme.bright }};
    }
  </style>

  <!-- Favicons & PWA -->
  <link rel="manifest" href="/assets/manifest.webmanifest" crossorigin="anonymous">
  <meta name="theme-color" content="var(--darker)">
  {% include favicon.html %}

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/assets/css/main.css">

  {% include gtag.html %}
</head>