<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.meta_description }}">
    <link rel='icon' href='/assets/img/favicon.ico' type='image/x-icon'>
    <title>
        {% if page.title %}{{ site.title | escape }} | {{ page.title | escape }}
        {% else %}{{ site.title | escape }}{% endif %}
    </title>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S3FZD64MJT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-S3FZD64MJT');
    </script>
</head>