<ul id="link-icons" class="horizontal">
    <li>
        <a href="mailto:{{ site.data.contact.email }}" class="fa-btn">
            <span class="fas fa-envelope" title="email me"></span>
        </a>
    </li>
    <li>
        <a href="https://github.com/{{ site.data.contact.github }}" target="_blank" class="fa-btn">
            <span class="fab fa-github" title="github profile"></span>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/{{ site.data.contact.linkedin }}" target="_blank" class="fa-btn">
            <span class="fab fa-linkedin" title="linkedin profile"></span>
        </a>
    </li>
</ul>