<ul id="link-icons" class="horizontal">
    <li>
        <a href="mailto:{{ site.data.contact.email }}" class="fa-btn">
            <i class="fas fa-envelope"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/{{ site.data.contact.github }}" target="_blank" class="fa-btn">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/{{ site.data.contact.linkedin }}" target="_blank" class="fa-btn">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
</ul>