<ul class="link-icons horizontal">
  <li>
    <a href="mailto:{{ site.data.contact.email }}" class="icon" aria-label="e-mail">
      {% include icons/mail.svg %}
    </a>
  </li>
  <li>
    <a href="https://github.com/{{ site.data.contact.github }}" target="_blank" class="icon" aria-label="GitHub">
      {% include icons/github.svg %}
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/{{ site.data.contact.linkedin }}" target="_blank" class="icon" aria-label="LinkedIn">
      {% include icons/linkedin.svg %}
    </a>
  </li>
</ul>