<meta name="title" content="{{ site.title | escape }}">
<meta name="description" content="{{ site.description | strip_newlines }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="{{ site.title | escape }}">
<meta property="og:description" content="{{ site.description | strip_newlines }}">
<meta property="og:image" content="{{ site.url }}/assets/img/og.png">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}">
<meta property="twitter:title" content="{{ site.title | escape }}">
<meta property="twitter:description" content="{{ site.description | strip_newlines }}">
<meta property="twitter:image" content="{{ site.url }}/assets/img/og.png">