<!-- jQuery & Popper (for Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- tabs selector script -->
<script src="/assets/js/tabs.js"></script>

<!-- scroll control -->
<script src="/assets/js/scroll.js"></script>

<!-- accordeon script -->
<script src="/assets/js/accordeon.js"></script>

<!-- nav control -->
<script src="/assets/js/nav.js"></script>

<!-- config script -->
<script src="/assets/js/config.js"></script>