

// terminology
$theme-darker:  var(--darker);
$theme-dark:    var(--dark);
$theme-grey:    var(--grey);
$theme-light:   var(--light);
$theme-bright:  var(--bright);

// bootstrap colors
$primary: $theme-bright;
$secondary: $theme-grey;
$dark: $theme-dark;
$light: $theme-light;

$link-color: $theme-bright;
$link-hover-color: $theme-light;

$text-color: $theme-grey;
$code-text-color: $theme-light;

$body-bg: $theme-darker;
// blog colors, to be managed later
//$body-bg: #FCFCFC;
//$text-color: #555555;

// define classes for quick use
.text-primary{color: $primary !important;}
.text-secondary{color: $secondary !important;}
.text-dark{color: $dark !important;}
.text-light{color: $light !important;}