// section margins
$side-margin: 200px;
$top-margin: 200px;
$bottom-margin: $top-margin;

$last-bottom-margin: $bottom-margin;

$mobile-margin: 25px;

section, .section {
    position: relative;

    @media (min-width: #{$mobile-break-point}) {
        margin-left: $side-margin;
        margin-right: $side-margin;
        margin-top: $top-margin;
        margin-bottom: $bottom-margin;
    }

    @media (max-width: #{$mobile-break-point - 1px}) {
        margin: $mobile-margin;
        height: auto !important;
    }

    &:last-child {
        margin-bottom: $last-bottom-margin;
    }
}

.container-fluid {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    height: auto;
    margin: 15px;
    font-size: 12px;
    text-align: center;

    a {
        margin: 10px;
        color: $theme-grey;

        &:hover {
            color: $theme-bright;
        }
    }
}