// color
$main-text-color: $theme-grey;
$main-bg-color: $theme-darker;

// font
$main-font: "Roboto Slab", serif;
$main-font-size: 17px;
$main-h1-size: 30px;

a {
    text-decoration: none !important;
}

body {
    color: $main-text-color;
    font-family: $main-font;
    font-size: $main-font-size;

    h1 {
        color: $primary;
        margin-bottom: 15px;
        font-size: $main-h1-size;
    }

    .highlighter-rouge {
        color: $code-text-color;
    }
}