// font
$main-font: "Roboto Slab", serif;
$main-font-size: 17px;
$main-h1-size: 1.8em;

$nav-break-point: 1000px;
$mobile-break-point: 1000px;//should be 800px

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
}

body {
    background-color: $body-bg;
    color: $text-color;
    font-family: $main-font;
    font-size: $main-font-size;
    margin: 0;

    .highlighter-rouge {
        color: $code-text-color;
    }
}

// override defaults
h1 {
    color: $primary;
    margin-bottom: 0.9em;
    font-size: $main-h1-size;
}

.desktop {
    @media (min-width: #{$mobile-break-point}) {
        display: initial;
    }
    @media (max-width: #{$mobile-break-point - 1px}) {
        display: none;
    }
}

.mobile {
    @media (min-width: #{$mobile-break-point}) {
        display: none;
    }
    @media (max-width: #{$mobile-break-point - 1px}) {
        display: initial;
    }
}