// colors
$btn-color: var($--theme-primary);
$btn-bg-color: transparent;
$btn-hover-color: var($--theme-background);
$btn-hover-bg-color: var($--theme-primary);
$next-btn-color: var($--theme-secondary);

a.btn {
  font-family: $--mono;
  font-size: 0.85rem;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  color: $btn-color;
  background-color: $btn-bg-color;
  border: 1px solid $btn-color;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
  animation: all .3s ease;

  &:hover {
    color: $btn-hover-color;
    background-color: $btn-hover-bg-color;
    animation: all .3s ease;
  }
}

a.btn + a.btn {
  margin-block-start: 0.5rem;
  margin-inline-start: 0.5rem;
}

section .next {
  // remove from small screens
  @media (max-width: 1200px) {
    display: none;
  }

  position: absolute;
  bottom: 70px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid $next-btn-color;
  border-bottom: 1px solid $next-btn-color;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: nextbtn 1.5s infinite;
  animation: nextbtn 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes nextbtn {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes nextbtn {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}