$tab-btn-padding-vert: 11px;
$tab-btn-padding-horz: 20px;
$tab-content-padding-left: 30px;

$tab-btn-border-width: 1px;
$tab-btn-border-selected-width: 3px;
$tab-btn-border-color: var($--theme-secondary);
$tab-btn-border-hover-color: var($--theme-secondary);
$tab-btn-border-selected-color: var($--theme-primary);

$tab-btn-padding-inactive-horz: $tab-btn-padding-horz + $tab-btn-border-selected-width - $tab-btn-border-width;

$tab-btn-text-size: 15px;
$tab-btn-text-color: var($--theme-secondary);
$tab-btn-text-hover-color: var($--theme-primary);
$tab-btn-text-selected-color: var($--theme-primary);

$highlighter-color: var($--theme-surface); // or try ##8892b0

$tab-btn-color: transparent;
$tab-btn-hover-color: $highlighter-color;
$tab-btn-selected-color: transparent;

// content fonts
$tab-content-title-size: 20px;
$tab-content-subtitle-size: 13px;
$tab-content-text-size: 15px;

$tab-link-color: var($--theme-primary);
$tab-content-title-color: var($--theme-secondary);

.tabs-container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: flex-start;
  padding: 0;
  margin: auto;
  align-self: flex-start !important;

  flex-direction: row;
  @media (max-width: $md) {
    flex-direction: column;
  }

  // tabs class
  .tabs {
    float: left;
    border: none;

    width: max-content;
    height: 100%;
    @media (max-width: $md) {
      width: 100%;
      display: flex;
      overflow-x: auto;
    }

    // tab button
    a, .tab {
      padding-block: $tab-btn-padding-vert;
      padding-inline: $tab-btn-padding-inactive-horz;
      color: $tab-btn-text-color;
      font-size: $tab-btn-text-size;
      font-family: $--mono;
      background-color: $tab-btn-color;
      transition: background-color 0.1s ease-out;
      
      &:hover {
        background-color: $tab-btn-hover-color;
        color: $tab-btn-text-hover-color;
        transition: background-color 0.2s ease-in;
      }

      &.active {
        //padding: $tab-btn-padding-vert $tab-btn-padding-horz;
        background-color: $tab-btn-selected-color;
        color: $tab-btn-text-selected-color;
        transition: background-color 0.1s ease-out;
        padding-inline-start: $tab-btn-padding-horz;
      }

      @media (min-width: #{$md + 1px}) {
        display: block;
        border-left-style: solid;
        border-left-width: $tab-btn-border-width;
        border-left-color: $tab-btn-border-color;
        text-align: left;
      
        &:hover {
          border-left-color: $tab-btn-border-hover-color;
        }

        &.active {
          border-left-color: $tab-btn-border-selected-color;
          border-left-width: $tab-btn-border-selected-width;
        }
      }

      @media (max-width: $md) {
        display: inline-block;
        width: max-content;
        border-bottom-style: solid;
        border-bottom-width: $tab-btn-border-width;
        border-bottom-color: $tab-btn-border-color;
        text-align: left;

        &:hover {
          border-bottom-color: $tab-btn-border-hover-color;
        }

        &.active {
          border-bottom-color: $tab-btn-border-selected-color;
          border-bottom-width: $tab-btn-border-selected-width;
        }
      }
    }
  }

  .tabs-content {
    position: relative;
    float: left;
    padding-block-start: $tab-btn-padding-vert;
    padding-inline-start: $tab-content-padding-left;
    border: none;
    width: calc(100% - #{$tab-content-padding-left});
    min-height: max-content;
    text-align: left;
    
    @media (max-width: $md) {
      padding-inline-start: $tab-btn-padding-vert;
      width: calc(100% - #{$tab-btn-padding-vert});
    }

    .content {
      display: none;
      position: relative;
      width: 100%;

      &.active {
        display: initial;
      }

      .tab-title {
        font-size: $tab-content-title-size;
        color: $tab-content-title-color;
        margin-block: 0 0.5rem;

        h1 {
          font-size: inherit;
          color: inherit;
          width: 100%;
        }

        .icons {
          float: right; //inline-end
          margin-inline-start: 10px;
          min-width: max-content;

          a.icon {
            color: $tab-content-title-color;

            &:hover {
              color: $icons-hover-color;
            }
          }

          a.icon + a.icon {
            margin-inline-start: 0.2em;
          }
        }
      }
      
      .tab-subtitle {
        font-family: $--mono;
        font-size: $tab-content-subtitle-size;
        margin-block-end: 1rem;
      }

      .tab-tags {
        font-family: $--mono;
        font-size: $tab-content-subtitle-size;
        color: var($--theme-primary);
        margin-block-end: 0.5rem;
      }
      
      p, .tab-content {
        font-size: $tab-content-text-size;
      }

      a {
        color: $tab-link-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}