$acc-padding: 15px;

$acc-border-width: 3px;
$acc-border-color: $theme-grey;
$acc-border-color-active: $theme-bright;

$acc-title-color: $theme-grey;
$acc-subtitle-color: $theme-bright;
$acc-link-color: $theme-bright;

$acc-title-size: 20px;
$acc-subtitle-size: 17px;
$acc-text-size: 15px;

$acc-hover-color: $theme-dark;

.accordeon {
    display: flex;
    flex-direction: column;
}

.accordeon-item {
    width: 100%;
    cursor: pointer;
    border-left-style: solid;
    border-left-width: $acc-border-width;
    border-left-color: $acc-border-color;
    transition: background-color 0.1s ease-out;
    
    &:hover {
        background-color: $acc-hover-color;
        transition: background-color 0.1s ease-in;
    }

    &.active {
        border-left-color: $acc-border-color-active;
        transition: background-color 0.1s ease-out;
    }
    
    & > .accordeon-title, & > header, & > h1 {
        padding: $acc-padding;
        color: $acc-title-color;
        font-size: $acc-title-size;
        margin: 0;
    }

    & > .accordeon-content {
        display: none;
        padding: 0 $acc-padding;

        .accordeon-subtitle, & > h2 {
            font-size: $acc-subtitle-size;
            color: $acc-subtitle-color;
        }

        p {
            font-size: $acc-text-size;
        }
    }

    &.active > .accordeon-content {
        display: block;
    }

    a {
        color: $acc-link-color;
        white-space: nowrap;
    }
}