$title-font-size: 40px;
$title-font-weight: 400;
$title-font-color: $icons-color;
$title-left-margin: 35px; // same as nav padding

h1#site-title {
    position: fixed;
    top: $icon-margin;
    left: 35px;
    color: $title-font-color;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    text-transform: uppercase;

    z-index: 1000;
}