// colors
$nav-color: $theme-grey;
$nav-active-color: $theme-bright;

// fonts
$nav-font: "Roboto Slab", serif;
$nav-font-size: 25px;
$nav-font-active-size: 35px;
$nav-font-hover-size: 37px;

$mobile-nav-font-size: 40px;

// padding
$hand-length: 30px;
$hand-padding-right: 5px;
$vertical-padding: 4px;

#main-nav {
	position: fixed;
    top: 50%;
    transform: translateY(-50%);
	left: 0;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;

	a {
		font-family: $nav-font;
		font-size: $nav-font-size;
		text-decoration: none;
		color: $nav-color;
		transition: all 0.3s ease;
        display: block;
        padding: $vertical-padding 0 $vertical-padding $hand-length+$hand-padding-right;
        position: relative;

		&:hover {
			font-size: $nav-font-hover-size;
			color: $nav-active-color;
		}
    
        &::before {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: $nav-active-color;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
            transition: all 0.3s ease;
        }
    }
        
    a.active, .active > a {
        font-size: $nav-font-active-size;
        color: $nav-active-color;
        pointer-events: none;
        cursor: default;
    
        &::before {
            width: $hand-length;
        }
    }
}

// mobile navigation button
#nav-btn.mobile {
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    
    #nav-stack {
        float: left;
        position: relative;
        height: 15px;
        width: 20px;
        //transform: translateY(-100px);
        opacity: 1;
        transition: transform .6s ease .8s, opacity .5s .6s ease;
    
        span {
            content: "";
            display: inline-block;
            height: 2px;
            background-color: $theme-grey;
            position: absolute;
            width: 100%;
            margin: 0;
            padding: 0;
            &:nth-child(1) {
                top: 0;
                //@include transition(transform 0.5s ease, background .8s .5s ease);
                transition: all 0.5s ease;
            }
            &:nth-child(2) {
                top: 6px;
                //@include transition(transform 0.5s ease, background .8s .5s ease);
                transition: all 0.5s ease;
            }
            &:last-child {
                bottom: 0;
                //@include transition(transform 0.5s ease, background .8s .5s ease);
                transition: all 0.5s ease;
            }
        }
    
        &.active {
            span {
                &:nth-child(1) {
                    top: 5px;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: scale(0);
                }
                &:last-child {
                    top: 5px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

// mobile navigation menu
nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    margin: 0;
    padding: 0;

    opacity: 0;
    background-color: transparent;
    transition: all 0.5s ease-out;

    ul#main-nav {
        position: relative;
        display: block;

        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 1.5em;

        a {
            position: relative;
            display: inline;
            padding: 0;
            font-size: $mobile-nav-font-size;

            &::before {
                display: none;
                content: none;
                position: relative;
            }

            &:hover {
                font-size: $mobile-nav-font-size;
            }
        }

        #link-icons {
            position: relative;
            display: inline;
            font-size: $mobile-nav-font-size;

            li {
                display: inline-block;
                margin: 0.5em 0.2em;
                font-size: inherit;
            }

            &::after {
                display: none;
                content: none;
                position: relative;
            }
        }
    }

    &.active {
        opacity: 0.9;
        background-color: $body-bg;
        transition: all 0.5s ease-in;
    }
}