
$tab-btn-padding-vert: 15px;
$tab-btn-padding-horz: 15px;
$tab-content-padding-left: 30px;

$tab-btn-border-width: 1px;
$tab-btn-border-selected-width: 3px;
$tab-btn-border-color: $theme-grey;
$tab-btn-border-hover-color: $theme-grey;
$tab-btn-border-selected-color: $theme-bright;

$tab-btn-padding-inactive-horz: $tab-btn-padding-horz + $tab-btn-border-selected-width - $tab-btn-border-width;

$tab-btn-text-size: 15px;
$tab-btn-text-color: $theme-grey;
$tab-btn-text-hover-color: $theme-bright;
$tab-btn-text-selected-color: $theme-bright;

$highlighter-color: $theme-dark; // or try ##8892b0

$tab-btn-color: transparent;
$tab-btn-hover-color: $highlighter-color;
$tab-btn-selected-color: transparent;

// content fonts
$tab-content-title-size: 20px;
$tab-content-subtitle-size: 17px;
$tab-content-text-size: 15px;
$tab-title-margin-bottom: .5rem;

$tab-link-color: $theme-bright;
$tab-content-title-color: $theme-grey;

.tabs-container {
  display: flex;
  position: relative;
  width: 100%;
  //min-height: 30vh;
  height: auto;
  align-items: flex-start;
  padding: 0;
  margin: auto;
  align-self: flex-start !important;

  @media (min-width: #{$mobile-break-point}) {
    flex-direction: row;
  }
  @media (max-width: #{$mobile-break-point - 1px}) {
    flex-direction: column;
  }

  // tabs class
  .tabs {
    float: left;
    border: none;
    @media (min-width: #{$mobile-break-point}) {
      width: max-content;
      height: 100%;
    }
    @media (max-width: #{$mobile-break-point - 1px}) {
      width: 100%;
      display: flex;
      overflow-x: auto;
    }

    // tab button
    a, .tab {
      padding: $tab-btn-padding-vert $tab-btn-padding-inactive-horz;
      color: $tab-btn-text-color;
      font-size: $tab-btn-text-size;
      background-color: $tab-btn-color;
      transition: background-color 0.1s ease-out;

      @media (min-width: #{$mobile-break-point}) {
        display: block;
        width: 100%;
        border-left-style: solid;
        border-left-width: $tab-btn-border-width;
        border-left-color: $tab-btn-border-color;
        text-align: left;
      }
      @media (max-width: #{$mobile-break-point - 1px}) {
        display: inline-block;
        width: max-content;
        border-bottom-style: solid;
        border-bottom-width: $tab-btn-border-width;
        border-bottom-color: $tab-btn-border-color;
        text-align: left;
      }

      &:hover {
        background-color: $tab-btn-hover-color;
        color: $tab-btn-text-hover-color;
        border-left-color: $tab-btn-border-hover-color;
        transition: background-color 0.2s ease-in;
      }

      &.active {
        padding: $tab-btn-padding-vert $tab-btn-padding-horz;
        background-color: $tab-btn-selected-color;
        color: $tab-btn-text-selected-color;
        border-left-color: $tab-btn-border-selected-color;
        border-left-width: $tab-btn-border-selected-width;
        transition: background-color 0.1s ease-out;
      }

    }
  }

  .tabs-content {
    position: relative;
    float: left;
    padding: 0;
    padding-top: $tab-btn-padding-vert;
    padding-left: $tab-content-padding-left;
    border: none;
    width: 100%;
    min-height: max-content;
    text-align: left;

    .content {
      display: none;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //visibility: hidden;
      //opacity: 0;
      //z-index: 0;
      //transition: opacity 0.3s ease-out;

      &.active {
        display: initial;
        //visibility: visible;
        //opacity: 1;
        //z-index: 10;
        //transition: opacity 0.7s ease-in;
      }

      .tab-title {
        padding-left: 0;
        font-size: $tab-content-title-size;
        color: $tab-content-title-color;
        margin-bottom: $tab-title-margin-bottom;

        h1 {
          font-size: inherit;
          color: inherit;
          width: 100%;
        }

        .icons {
          float: right;
          margin-left: 10px;
          min-width: max-content;

          a.fa-btn {
            margin-left: 0.2em;
            color: $tab-content-title-color;

            &:hover {
              color: $icons-hover-color;
            }
          }
        }
      }
      
      h2, h3, h4, h5, h6, .tab-subtitle {
        font-size: $tab-content-subtitle-size;
      }
      
      p, .tab-content {
        font-size: $tab-content-text-size;
      }

      a {
        color: $tab-link-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}