

$qualif-left-padding: 20px;
$qualif-bottom-padding: 20px;

.qualif {
    h1 {
        padding-left: $qualif-left-padding;
        padding-bottom: $qualif-bottom-padding;
        color: $primary;
    }
}